.container{direction:ltr;display:flex;align-items:center;justify-content:space-around}
.content-box{width:400px;display:flex;align-items:center;gap:10px}
.card{cursor:pointer;width:72px;height:100px;display:flex;align-items:center;border:1px solid #e0e0e0;border-radius:6px;object-fit:contain}
.action-btns{padding:1px;background-color:#fff;border-radius:50%;width:25px;height:25px;border:1px solid #e0e0e0;cursor:pointer}