.border-0{border:0}
.d-inline{display:inline}
.d-flex{display:flex}
.d-tree{font-size:1rem;line-height:1.5}
.flex-column{flex-direction:column}
.d-tree-container{list-style:none;padding:0}
.d-tree-label{cursor:pointer;color:#000;text-decoration:none}
.d-tree-node{padding:.75rem 1rem}
.d-tree-toggler{margin-top:2px!important}
.d-tree-toggler.active{transform:rotate(90deg)}